pandas==3.0.5
numpy==2.5.1
geopandas==1.1.4
osmnx==2.1.1
networkx==2.8.8
scikit-learn==1.9.0
statsmodels==0.14.6
matplotlib==3.11.1
plotly==6.9.0
folium==0.20.0
shapely==2.1.2
rasterstats==0.21.0
partridge==1.1.2
jupyter==1.1.1
streamlit==1.60.0
